<!DOCTYPE html>
<html>
<head>
  <title>My Awesome Website</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'sidebar', "data-turbo-track": "reload" %>
</head>
<body>
<div id="mainContent" class="main-content">

  <% if !user_signed_in? %>
    <h1>this is the homepage</h1>
  <% else %>
    <h1>you're logged in!</h1>
  <% end %>
</div>
</body>
</html>
