<html>
<body>
<div id="mainContent" class="main-content">

<h1>Status Log </h1>
</br>
    <form id="new_message">
        <input id="message_content" type="text" />
        <button type="submit">Send</button>
    </form>

<div id="status-log">
</div>

</div>
</html>