<html>
<body>
<div id="mainContent" class="main-content">

use websocket for 
    tube start/stop/status

<form id="new_message">
  <input id="message_content" type="text" />
  <button type="submit">Send</button>
</form>

</div>
</html>