    /*
    *= require sidebar
    */
.sidebar {
  position: fixed;
  height: 100%;
  width: 30px; /* This is the width when the sidebar is closed */
  overflow: hidden;
  transition: 0.3s;
  z-index: 1;
  background-color: #111;
  color: #fff;
  padding: 60px 10px 20px;
}

.sidebar.active {
  width: 250px; /* This is the width when the sidebar is open */
}

.sidebar-toggle {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 25px;
  right: 5px;
  transform: translateY(-50%);
}

.main-content {
  transition: 0.3s;
  padding: 20px;
  margin-left: 30px; /* This should be the same as the sidebar's closed width */
}

.main-content.active {
  margin-left: 250px; /* This should be the same as the sidebar's open width */
}
